<div class="f8-custom-card" (click)="cardClick(workItem, $event);" [attr.data-id]="workItem.id">
  <pfng-card [config]="config" [headerTemplate]="cardHeader">
    <ng-template #cardHeader>
      <div class="f8-custom-card-header">
        <div class="wi-type-icon-wrapper">
          <span class="fa fa-bullseye"></span>
        </div>
        <div class="title-wrapper" (click)="titleClick(workItem, $event);">
          <span>#{{ workItem?.number }}: </span>
          <strong>{{ workItem?.title }}</strong>
          <span class="creator"> - created by viraj</span>
        </div>
      </div>
    </ng-template>
    <div class="f8-custom-card-body">
      <div class="sprint-name truncate"
        [placement]="top"
        [tooltip]="workItem?.iteration">
        <span>{{ workItem?.iteration }}</span>
      </div>
      <div class="assignee">
        <user-avatar
          [imgSrc]="'https://avatars1.githubusercontent.com/u/2561818?v=4&s=25'">
        </user-avatar>
        <user-avatar
          [imgSrc]="'https://avatars1.githubusercontent.com/u/2561818?v=4&s=25'">
        </user-avatar>
        <user-avatar
          [imgSrc]="'https://avatars1.githubusercontent.com/u/2561818?v=4&s=25'">
        </user-avatar>
      </div>
    </div>
    <div class="f8-custom-card-footer">
      <f8-label
        [labels]="labels"
        [truncateAfter]='4'
        [allowDelete]="false"
        (onLabelClick)="labelClick($event)">
      </f8-label>
    </div>
  </pfng-card>
</div>
